<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
  xmlns:sec="http://www.springframework.org/security/tags">
<head>
  <script th:src="@{/webjars/sockjs-client/0.3.4/sockjs.min.js}"></script>
  <script th:src="@{/webjars/stomp-websocket/2.3.0/stomp.min.js}"></script>
  <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<H1>main.html</H1>
  Hello <span sec:authentication="name" style="font-weight:bold;"></span>

  <form id="myForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <br>
    <input type="submit"/> | <button id="stop">Disconnect</button> 
  </form>

  

  <script th:inline="javascript">
      $('#myForm').submit(function(e){
    	  e.preventDefault();
    	  var text = $('#myForm').find('textarea[name="text"]').val();
    	  sayNotification(text);
      });
    var sock = new SockJS([[@{/notifications}]]);
    var stomp = Stomp.over(sock);
    
    stomp.connect('guest','guest', function(name) {
    	console.log('STOMP (chat) connected');
    	stomp.subscribe("/topic/userupdates", handleUserUpdates);
    	stomp.subscribe("/user/queue/notifications", handleNotification);
    	
    	// Marco-POLO Thing below:
    	stomp.subscribe("/topic/marco", handlePolo);
    	sayMarco();
    });
    
    function handlePolo(message) {
      console.log('Received MarcoPolo thing: ', message);
      $('#output').append("<b>Received:</b> " + JSON.parse(message.body).msg + "</b><br/>");
      
      if (JSON.parse(message.body).msg === 'POLO') {
    	  setTimeout(function(){sayMarco()}, 2000);
      }
    }
 
    function handleUserUpdates(userUpdate) {
	    console.log('Received update: ', userUpdate);
	    $('#messages').append("<B>UserUpdate:</b>", JSON.parse(userUpdate.body).message + "</b><br/>");
    }
    
    function handleNotification(notification) {
    	console.log('Received Notification: ', notification);
    	$('#messages').append("<b>Notification:</b>", JSON.parse(notification.body).text + "</b><br/>");
    }
    
    function sayMarco() {
      stomp.send("/app/marco", {}, JSON.stringify({ 'msg': 'MARCO' }));
      $('#output').append("<b>Send: MARCO!</b><br/>");
    }
    
    function sayNotification(text) {
    	console.log('Sending notification:', text);
    	stomp.send("/app/notifications", {}, JSON.stringify({ 'text': text }));
    	$('#messages').append("<b>Send: "+ text + " </b><br/>");
    }
    
    $("#stop").click(function() {sock.close()});
  </script>
  
  <table style="width:100%">
  	<thead>
  	  <tr>
  	    <th width=50%>Chat</th>
  	    <th width=50%>Marco-polo-thing</th>
  	  </tr>
  	</thead>
  
  	<tr>
      <td valign="top"><div id="messages"></div></td>
      <td valign="top"><div id="output"></div></td>
    </tr>
  </table>
</body>
</html>
